/* 登录页面 */
<template>
  <div class="login-container">
    <van-nav-bar
      class="app-nav-bar"
      title="登录/注册"
      left-arrow
      @click-left="onClickLeft"
    />
    <van-form
      ref="loginForm"
      :show-error="false"
      :show-error-message="false"
      validate-first
      @submit="onLogin"
      @failed="onFailed"
    >
      <van-field
        v-model="user.mobile"
        clearable
        icon-prefix="iconfont icon"
        left-icon="shouji"
        placeholder="请输入手机号"
        name="mobile"
        :rules="formRules.mobile"
      />
      <van-field
        v-model="user.code"
        clearable
        center
        icon-prefix="iconfont icon"
        left-icon="yanzhengma"
        placeholder="请输入验证码"
        name="code"
        :rules="formRules.code"
      >
        <template #button>
          <van-count-down
            v-if="isCountDownShow"
            :time="1000 * 60"
            format="ss s"
            @finsh="isCountDownShow = false"
          />
          <van-button
            v-else
            class="send-btn"
            size="small"
            round
            :loading="isSendSmsLoading"
            @touchstart.prevent="onSendSms"
            >获取验证码</van-button
          >
        </template>
      </van-field>
      <div class="login-btn-wrap">
        <van-button class="login-btn" type="info" block>登录</van-button>
      </div>
    </van-form>
  </div>
</template>

<script>
import { login, sendSms } from '@/api'

export default {
  data () {
    return {
      user: {
        mobile: '',
        code: ''
      },

      isCountDownShow: false, // 是否正在倒计时
      isSendSmsLoading: false, // 获取验证码按钮的 loading

      formRules: {
        mobile: [
          { required: true, message: '请输入手机号' },
          {
            pattern:
              /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/,
            message: '手机号格式有误'
          }
        ],
        code: [
          { required: true, message: '请输入验证码' },
          {
            pattern: /\d{6}$/,
            message: '验证码有误'
          }
        ]
      }
    }
  },

  methods: {
    // 登录
    async onLogin () {
      this.$toast.loading({
        message: '登录中...',
        forbidClick: true,
        duration: 0
      })
      try {
        const { data } = await login(this.user)
        if (data.message === 'OK') {
          this.$toast({
            message: '登录成功',
            icon: 'success'
          })
          // 保存登录数据（token）//副作用操作使用 action
          this.$store.dispatch('accessData', data.data)
        }
      } catch (err) {
        this.$toast({
          message: '登录失败 请检查',
          icon: 'fail'
        })
      }
    },

    // 校验有误时
    onFailed (err) {
      if (err.errors[0]) {
        this.$toast({
          message: err.errors[0].message,
          position: 'top'
        })
      }
    },

    // 获取验证码
    async onSendSms () {
      // 校验手机号
      try {
        await this.$refs.loginForm.validate('mobile')
        // 发送验证码
        await sendSms(this.user.mobile)
        this.isCountDownShow = true
        this.isSendSmsLoading = true
      } catch (err) {
        let message = ''
        if (err && err.response && err.response.status === 429) {
          // 验证码的异常处理
          message = '发送频繁，请等待'
        } else if (err.name === 'mobile') {
          // 表单验证失败
          message = err.message
        } else {
          // 其他错误
          message = '发送失败，请稍后重试'
        }
        this.$toast({
          message,
          position: 'top'
        })
      }
      this.isSendSmsLoading = false
    },

    // 后退事件
    onClickLeft () {
      this.$router.back()
    }
  }
}
</script>

<style lang="less" scoped>
.login-container {
  .login-btn-wrap {
    padding: 26px 16px;
    .login-btn {
      border: none;
      .van-button__text {
        font-size: 15px;
      }
    }
  }
  .send-btn {
    width: 80px;
    height: 24px;
    background: #ededed;
    color: #666;
    font-size: 12px;
  }
}
</style>
