/* 布局组件 */
<template>
  <div class="layout-container">
    <router-view />
    <van-tabbar v-model="active" route>
      <van-tabbar-item icon-prefix="iconfont icon" icon="shouye" :to="{name:'Home'}">首页</van-tabbar-item>
      <van-tabbar-item icon-prefix="iconfont icon" icon="wenda" :to="{name:'Qa'}">问答</van-tabbar-item>
      <van-tabbar-item icon-prefix="iconfont icon" icon="shipin" :to="{name:'Video'}">视频</van-tabbar-item>
      <van-tabbar-item icon-prefix="iconfont icon" icon="wode" :to="{name:'My'}">我的</van-tabbar-item>
</van-tabbar>
  </div>
</template>

<script>
export default {
  data () {
    return {
      active: 0
    }
  }
}
</script>

<style lang="less" scoped>
</style>
